@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(var(--border));
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .w-\(--sidebar-width\) {
    width: var(--sidebar-width);
  }

  .w-\(--sidebar-width-icon\) {
    width: var(--sidebar-width-icon);
  }

  .w-\[calc\(var\(--sidebar-width\)\*-1\)\] {
    width: calc(var(--sidebar-width) * -1);
  }

  .left-\[calc\(var\(--sidebar-width\)\*-1\)\] {
    left: calc(var(--sidebar-width) * -1);
  }

  .right-\[calc\(var\(--sidebar-width\)\*-1\)\] {
    right: calc(var(--sidebar-width) * -1);
  }

  .w-\[calc\(var\(--sidebar-width-icon\)\+\(--spacing\(4\)\)\)\] {
    width: calc(var(--sidebar-width-icon) + 1rem);
  }

  .w-\[calc\(var\(--sidebar-width-icon\)\+\(--spacing\(4\)\)\+2px\)\] {
    width: calc(var(--sidebar-width-icon) + 1rem + 2px);
  }
}